$color--green: #83b65b;
$color--text: #454648;
$size--space_between: 20px;

$size--title: 20px;
$size--body-1: 16px;
$size--body-0: 14px;
$size--caption: 13px;

$size--avatar: 20px;

/* ---------------------------------------------------------------------------------------------------------------------
 * Основное
 * - Перекрасить в фирменные цвета: основной текст `#454648`, ссылки `#83b65b`, цитаты, кнопки
 * - Отступы между основными элементами `20px`
 * - Растянуть изображения на всю ширину .page
 * - Изменить семейство шрифтов на фирменные
 * - Отступы от текста до изображения `10px`, от изображения до текста `15px`, между изображениями `5px`
 * - Отцентровать ссылки в подвале и уменьшить размер ссылок до `14px`
 * ---------------------------------------------------------------------------------------------------------------------
 */

.link.link {
    color: $color--green;
}

.page {
    overflow-x: hidden;
    color: $color--text;
    .source {
        margin-top: $size--space_between;
    }
}

/* Шрифт */
.page,
.button,
.b,
.i {
    font-family: Roboto, "Open Sans", -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
}

.button {
    border-radius: 3px;
    color: #fff;
    background: #8ac858;
}

.author {
    font-weight: bold;
    color: $color--green;
}

.blockquote.blockquote {
    padding: 5px;
    border-left: 0;
    border-radius: 2px;
    color: #8c8681;
    background: #faf9f4;
}

.cover .title {
    font-size: $size--title;
}

.image {
    /* Уберём отступы у изображений */
    &_type_edge {
        max-width: inherit;
        margin-left: -14px;
        margin-right: -14px;
        max-height: inherit !important;
    }
    /* Отступы между изображениями 5px */
    & + & {
        margin-top: 5px;
    }
}

.paragraph {
    .paragraph {
        line-height: 22px;
        color: $color--text;
    }
    /* Отступ от параграфа до изображения */
    & + .image {
        margin-top: 10px;
    }
}

/* Отступ от изображения до параграфа */
.image + .paragraph {
    margin-top: 15px;
}

.footer {
    font-size: $size--body-0;
    text-align: center;
    && {
        margin-top: $size--space_between;
    }
}

/* ---------------------------------------------------------------------------------------------------------------------
 * Шапка
 * - Высота шапки 45px
 * - Зелёная подложка на всю ширину
 * - Временно заменим логотип кекса для экранов с DPR > 1. Удалить, как только Turbo будут отдавать 2x logo 😄
 * - Текст "Пикабу" в logo заменим SVG
 * - Иконки перекрасим в белый
 * ---------------------------------------------------------------------------------------------------------------------
 */
.cover {
    position: relative;

    & + .paragraph {
        margin-top: 10px;
    }

    /* Добавим заливку для шапки на всю ширину*/
    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 45px;
        background-color: #89c957;
    }

    .description {
        font-size: 13px;
    }

    .title + .description {
        margin-top: 0;
    }

    .divider {
        display: none;
    }

    .header {
        .image_type_logo {
            background-image: url('images/logo.png') !important; /* переопределение inline стилей */
        }

        &__title-link {
            position: relative;
            margin-right: 50px;
            z-index: 1;
        }

        &_logo-host {
            padding: 6px 0;
        }
    }

    .header-turbo {
        top: 10px;

        .header-turbo-icon {
            fill: #fff;
        }
    }
    .header-title {
        position: relative;
        margin-left: 10px;
        padding-top: 0;
        color: transparent;

        &:after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 5px;
            width: 75px;
            height: 24px;
            background: url('./images/logo.svg') no-repeat;
        }
    }

    .sandwich-menu__handler {
        height: 45px;
        background-image: url('./images/menu.svg');
    }
}

/* Уберём шапку из релеватных публикаций */
.autoload__content {
    .cover {
        &:before, .header, .divider {
            display: none;
        }
    }
}

/* ---------------------------------------------------------------------------------------------------------------------
 * Комментарий
 * - Выравнить аватрки с именем пользователя на одну прямую
 * - Добавить разделитель c подписью "Популярные комментарии" между текстом публикации и комментариями
 * - Изменили размер аватарок до `20px 20px`
 * - Изменить размер: текста комментария 15px
 * ---------------------------------------------------------------------------------------------------------------------
 */
.comments {
    && {
        font-size: 15px;
        line-height: 18px;
        margin-top: $size--space_between;
    }

    &:before {
        display: block;
        content: 'Популярные комментарии';
        margin-bottom: 15px;
        padding-bottom: 10px;
        font-weight: 700;
        font-size: $size--body-1;
        width: 100%;
        border-bottom: 1px solid #eff2ec;
    }

    &__author, &__info {
        display: flex;
    }

    /* Отступ от автора комментария до текста*/
    &__author + &__comment-text {
        margin-top: 2px;
    }

    &__avatar&__avatar&__avatar {
        height: $size--avatar;
        width: $size--avatar;
        min-width: $size--avatar;
        flex-basis: $size--avatar;
    }

    &__title&__title {
        font-size: $size--body-0;
        color: #777;
        line-height: $size--avatar;
    }

    &__subtitle&__subtitle {
        margin-left: 5px;
        font-size: $size--body-0;
        color: #a6aca1;
        line-height: $size--avatar;
    }

    &__title, &__title + &__subtitle {
        margin-top: 0;
        &:after, &:before {
            display: none;
        }
    }

    &__comment + &__comment {
        margin-top: $size--space_between;
        padding-top: 0;
        border-top: 0;
    }

    .blockquote {
        margin-bottom: 5px;
    }

    /* Для развёрнутого комментария добавим отступы параграфа */
    .fold__hidden {
        &:before, &:after {
            display: block;
            height: 2px;
            content: "";
        }
    }

    .button {
        color: $color--text;
        background-color: #eff2ec;
    }
}
