.page {
    background-color: #e8e8e8;
}

.link {
    color: #205090;
}

.markup__link {
    text-decoration: underline;
    text-decoration-color: rgba(32,80,144,.35);
}

.cover__content:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: rgba(0, 0, 0, .9);
}

.header.header {
    padding: 0;
}

.header__title-link {
    width: 120px;
    height: 50px;
    background: #c03 url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22120%22%20height%3D%2250%22%20viewBox%3D%220%200%20120%2050%22%3E%3Cpath%20d%3D%22M69.18%2016.86c-.538%200-1.045.088-1.52.265-.475.175-.894.447-1.254.814-.362.367-.644.832-.85%201.39-.207.56-.312%201.224-.312%201.99l3.037.367c0-.382.03-.696.09-.94.063-.245.138-.437.222-.575.084-.138.18-.23.29-.276.107-.047.205-.07.298-.07.26%200%20.44.116.54.346.1.23.15.453.15.668%200%20.383-.028.738-.08%201.068-.055.33-.18.678-.38%201.045l-3.935%207.29V33h7.36v-3.016h-3.68l2.9-5.494c.352-.673.605-1.27.76-1.793.152-.52.23-1.14.23-1.86%200-1.21-.305-2.178-.91-2.898-.605-.72-1.59-1.08-2.955-1.08zm-44.92.138L20%2017v16h4.053c.813%200%201.537-.17%202.174-.506.637-.337%201.1-.956%201.392-1.86.166-.49.262-1.226.284-2.208.023-.98.035-2.13.035-3.45%200-1.32-.013-2.493-.036-3.527-.023-1.037-.102-1.8-.24-2.29-.215-.782-.598-1.337-1.148-1.666-.552-.33-1.304-.496-2.256-.496zM30%2017v16h3.13v-6.23h.62L35.64%2033h3.196l-2.3-6.94c.597-.414%201.042-.968%201.333-1.658.29-.69.437-1.58.437-2.666%200-.873-.11-1.61-.332-2.216-.222-.606-.533-1.098-.932-1.473-.397-.375-.875-.645-1.426-.805-.553-.162-1.16-.24-1.818-.24L30%2017zm10%200v16h3.13V17H40zm4.52%200l3.035%2016h3.957l3.058-16h-3.404l-.965%206.438-.575%204.482h-.137l-.576-4.53-.967-6.39H44.52zM56%2017v16l7.34-.002v-3.01h-4.21v-3.61h3.82v-3.01h-3.82v-3.38h4.21V17H56zm25%200v16h3.13v-6.23h.62L86.64%2033h3.196l-2.3-6.94c.597-.414%201.042-.968%201.333-1.658.29-.69.437-1.58.437-2.666%200-.873-.11-1.61-.332-2.216-.222-.606-.533-1.098-.932-1.473-.397-.375-.875-.645-1.426-.805-.553-.162-1.16-.24-1.818-.24L81%2017zm9.826%200v12.086c0%202.702%201.358%204.053%204.078%204.053%201.35%200%202.375-.332%203.065-.992.69-.66%201.036-1.682%201.036-3.062V17h-3.18v12.156c0%20.367-.087.624-.265.77-.175.147-.396.22-.656.22s-.484-.073-.668-.22c-.185-.146-.275-.403-.275-.77V17h-3.134zM33.13%2019.99h.573c.476%200%20.863.14%201.162.426.3.283.45.733.45%201.346%200%20.414-.045.747-.137%201-.092.253-.22.456-.38.61-.16.152-.342.256-.542.31-.2.054-.415.08-.645.08h-.48V19.99zm51%200h.573c.476%200%20.863.14%201.162.426.3.283.45.733.45%201.346%200%20.414-.045.747-.137%201-.092.253-.22.456-.38.61-.16.152-.342.256-.542.31-.2.054-.415.08-.645.08h-.48V19.99zm-61.023.022h.582c.487%200%20.805.12.95.355.147.238.22.58.22%201.024v7.22c0%20.46-.073.805-.22%201.035-.145.23-.463.345-.953.345h-.582l.002-9.978zm52.192%209.54V33h3.104v-3.447H75.3z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E%0D%0A) no-repeat;
    background-size: contain;
}

.cover .divider,
.header_wide-logo .image {
    display: none;
}

.header-turbo .header-turbo-icon {
    fill: #ccc;
}

.sandwich-menu__handler {
    background-image: url(data:image/svg+xml,%3Csvg width%3D%2216px%22 height%3D%2212px%22 xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath d%3D%22M0%2C0 L16%2C0 L16%2C2 L0%2C2 L0%2C0 Z M0%2C5 L16%2C5 L16%2C7 L0%2C7 L0%2C5 Z M0%2C10 L16%2C10 L16%2C12 L0%2C12 L0%2C10 Z%22 fill%3D%22%23ccc%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E%0A);
}
