.page {
    background-color: #e8e8e8;
}

.link {
    color: #205090;
}

.markup__link {
    text-decoration: underline;
    text-decoration-color: rgba(32,80,144,.35);
}

.cover__content:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: rgba(0, 0, 0, .9);
}

.header.header {
    padding: 0;
}

.header__title-link {
    width: 120px;
    height: 50px;
    background: #c03 url(./logo.svg) no-repeat;
    background-size: contain;
}

.cover .divider,
.header_wide-logo .image {
    display: none;
}

.header-turbo .header-turbo-icon {
    fill: #ccc;
}

.sandwich-menu__handler {
    background-image: url(./icon-nav.svg);
}
