/* stylelint-disable-next-line */
@import "../wikipedia.org/style";

.page .header > .link {
    background: transparent url('./wikipedia-wordmark-en.svg') no-repeat 0 50%;
    background-size: 116px 18px;
    width: 116px;
}
