.page {
  font-family: "Fira Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
.header.cover__header {
  position: absolute;
  left: 0;
  width: 100%;
  border-width: 2px 0px;
  box-sizing: border-box;
  border-style: solid;
  padding: 9px 0;
  border-color: #9e4bbb transparent #2b143e;
  background: -webkit-linear-gradient(top,#69389f,#351c58);
  background: linear-gradient(180deg,#69389f,#351c58);
}
.header.cover__header:before,
.header.cover__header:after {
  content: '';
  position: absolute;
  left: 0;
  height: 50%;
  width: 100%;
}
.header.cover__header:before {
  background: -webkit-linear-gradient(top,#78329d,#5c2a7f);
  background: linear-gradient(180deg,#78329d,#5c2a7f);
  top: 0;
}
.header.cover__header:after {
  background: -webkit-linear-gradient(top,#562875,#3a1955);
  background: linear-gradient(180deg,#562875,#3a1955);
  border-top: 1px solid #5c2a7f;
  top: 50%;
}
.header_host .header-title {
  text-indent: -1000px;
  min-height: 28px;
  padding-top: 0;
}
.header .header__aside {
  z-index: 1;
}
.header.cover__header > .link {
  background: transparent url("data:image/svg+xml,%3Csvg xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22 width%3D%22152%22 height%3D%2232%22%3E%3Cg fill%3D%22%23fff%22%3E%3Cpath d%3D%22M10.86.2h-2.6a.5.5 0 0 0-.52.5v2.5l-4.12 7.14V.7a.5.5 0 0 0-.5-.5H.5a.5.5 0 0 0-.5.5v30.79c0 .27.23.5.5.5h2.61a.5.5 0 0 0 .5-.5v-11.4l4.13-7.15V31.5c0 .27.23.5.51.5h2.6a.5.5 0 0 0 .51-.5V.69a.5.5 0 0 0-.5-.5M93.94 0h-2.6a.5.5 0 0 0-.51.5v2.51l-4.13 7.14V.5a.5.5 0 0 0-.5-.51h-2.61a.5.5 0 0 0-.51.5v30.8c0 .27.23.5.5.5h2.61a.5.5 0 0 0 .5-.5V19.9l4.14-7.15v18.54c0 .28.22.51.5.51h2.6a.5.5 0 0 0 .51-.5V.5a.5.5 0 0 0-.5-.5M35.21 26.23h-2.7a.36.36 0 0 1-.36-.36v-5.63l1.47-2.53 2.03 3.53s.48.7.48 1.62v2.66c-.06.25-.25.71-.92.71m-.37-19.62c.9.01.97.92.81 1.29-.1.23-1.81 3.38-3.5 6.43V6.98c0-.2.17-.37.37-.37zm.45 8.2l1.15-2c1.15-2.02 2.23-3.65 2.23-5.36V3.28c-.03-2.22-2.2-3.2-3.3-3.18h-6.33a.5.5 0 0 0-.5.5v30.8c0 .28.22.5.5.5h7.41c1.09.02 3.26-.96 3.3-3.19v-5.09c0-1.09-.45-1.83-.45-1.83zM101.37 8c-.16-.38-.1-1.28.8-1.29h3c.27 0 .5.23.5.5v8.67c-1.9-3.41-4.19-7.62-4.3-7.89m.27-7.8c-1.08-.02-3.26.96-3.3 3.19v4.17c0 1.7 1.09 3.34 2.24 5.35l.84 1.47-2.46 4.27s-.45.74-.45 1.84v11c0 .29.23.51.51.51h2.6a.5.5 0 0 0 .51-.5v-10.5c0-.9.48-1.61.48-1.61l.85-1.47 2.21 3.81v9.77c0 .27.23.5.5.5h2.76c.2 0 .36-.16.36-.36V.55c0-.2-.16-.36-.36-.36h-7.29M67.73 26.75a.36.36 0 0 0-.36-.42h-6.01a1 1 0 0 1-1.02-1.01V7.73a1 1 0 0 1 1.01-1.01h4.56c.22 0 .4-.2.36-.42l-.9-5.61a.58.58 0 0 0-.58-.5h-4.48c-.98-.06-3.6.54-3.58 3.61v24.58a3.4 3.4 0 0 0 3.6 3.6h6.06c.29 0 .53-.2.57-.48zm-53.06-.42c-.22 0-.4.2-.36.42l.76 4.74c.05.28.3.48.58.48h5.73a3.4 3.4 0 0 0 3.58-3.6v-10c0-4.18-2.86-4.38-2.86-4.38l1.03-1.78c1.14-2.02 1.82-2.96 1.82-4.66V3.38c-.04-2.23-2.21-3.22-3.3-3.19h-5.52c-.29 0-.53.2-.57.49l-.9 5.61c-.04.22.13.42.35.42h5.44c.36-.01.8.18.91.76v.45s-.05 1.7-.85 3.01L18.63 14h-1.3a.5.5 0 0 0-.5.43l-.44 2.71c-.03.22.14.42.36.42h3.11c.54.02 1.5.3 1.5 1.71v6.06a1 1 0 0 1-1.02 1h-5.67zm38.71 0h-6.3v-8.81h2.95c.22 0 .39-.2.35-.42l-.43-2.71a.58.58 0 0 0-.57-.5h-2.3V6.72h6.37c.22 0 .4-.2.36-.42L52.9.7a.58.58 0 0 0-.57-.5h-8.52c-.2 0-.36.16-.36.36v31.08c0 .2.16.36.36.36h8.58c.29 0 .53-.21.57-.5l.77-4.74a.36.36 0 0 0-.36-.42M80.45 6.28l-.9-5.6a.58.58 0 0 0-.57-.48h-9.65c-.29 0-.53.2-.58.49l-.9 5.59c-.03.22.14.41.36.41h4.12v24.8c0 .28.23.51.51.51h2.6a.5.5 0 0 0 .51-.5V6.7h4.15c.22 0 .39-.2.35-.42%22%2F%3E%3Cpath d%3D%22M152 0h-23.06v4.5h-4.45V0H120v32h32zm-27.5 27.5V8.93h4.44v18.55h-4.45zm9.25 0v-4.45l7.41-9.66h-7.41V8.94h13.74v4.45l-7.41 9.66h7.41v4.44z%22 opacity%3D%22.8%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E") no-repeat 50%;
  background-size: 109px 25px;
  position: relative;
  z-index: 1;
}
.header__aside .sandwich-menu {
  width: 60px;
  margin-left: 0;
}
.header__aside .header-turbo {
  top: 11px;
  margin-right: 10px;
}
.header-turbo .header-turbo-icon {
  fill: #c0abce;
}
.header__aside .modal-handler {
  background: transparent;
  border-top: 0px none;
  position: relative;
  width: 60px;
  height: 46px;
  margin: 0 auto;
}
.sandwich-menu:before,
.header__aside .modal-handler:before,
.header__aside .modal-handler:after {
  content: '';
  position: absolute;
  background: white;
  width: 20px;
  margin: 0px 20px;
  height: 2px;
  left: 0;
}
.sandwich-menu:before {
  top: 16px;
  left: auto;
  right: 0;
}
.header__aside .modal-handler:before {
  top: 21px;
}
.header__aside .modal-handler:after {
  top: 26px;
}
.cover__content > .divider {
  padding-top: 52px;
}
.cover__title {
  font-size: 20px;
  line-height: normal;
  color: #000;
}
.divier + .cover__title {
  margin-top: 22px;
  margin-bottom: 22px;
}
.cover__content > .cover__description {
  font-size: 14px;
  line-height: 1.1;
  vertical-align: top;
}
.cover__title+.cover__description {
  margin-top: 10px;
}
.cover .cover__description.description {
  color: #999;
}
.paragraph {
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 15px;
}
.source .button_theme_default {
  background-color: #452963;
  color: #fff;
  border-radius: 0;
}
.table .table__cell {
  line-height: 1.1;
}
.table_style_divided .table__cell:last-child {
  padding-left: 0;
}
.modal .table__row+.table__row .table__cell { /* stylelint-disable-line */
  border-top: 1px solid #ababa1;
}
.image-simple {
  display: block;
  position: relative;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}
.image-simple img { /* stylelint-disable-line */
  opacity: 0;
  max-width: 100%;
  max-height: 100%;
}
.image-simple_preloaded .loader {
  opacity: 0.75;
}
.image-simple_loaded .loader {
  display: none;
}
.image-simple_ratio_1x1 img { /* stylelint-disable-line */
  position: absolute;
}
.image-simple_ratio_1x1:after {
  content: '';
  display: block;
  padding: 100% 0 0;
}
.modal .modal__container {
  background: #878679;
  margin-left: 0;
  margin-right: 0;
  width: auto;
  padding: 0 20px 20px;
}
.modal .modal__title > .modal__title-text {
  text-transform: uppercase;
  font-size: 16px;
  color: #ababa1;
  font-weight: bold;
}
.modal .modal__title {
  border-bottom: 1px solid #ababa1;
}
.modal .modal__landscape-close {
  float: right;
  font-size: 16px;
  font-weight: normal;
  color: #fff;
}
.modal .link { /* stylelint-disable-line */
  text-transform: uppercase;
  font-size: 16px;
  color: #fff;
}
.modal .button {
  background-color: #ababa1;
  color: #fff;
  border-radius: 0;
  border: 0px none;
  box-sizing: border-box;
	width: 100%;
  max-width: 100%;
}
.footer {
  background: #2c2c2c;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer .footer__links {
  border: 0px none;
  padding: 0px;
}
.footer .footer__link,
.footer .footer__divider {
  color: #fff;
}
.footer .paragraph {
  font-size: 16px;
  line-height: 24px;
  color: #aaa;
  margin-bottom: 0px;
}
@media screen and (max-width: 359px) {
  .footer {
    margin-right: -14px;
    margin-right: calc((100vw - 292px) / -2);
    margin-left: -14px;
    margin-left: calc((100vw - 292px) / -2);
  }
}
@media screen and (max-width: 413px) and (min-width: 360px) {
  .footer {
    margin-right: -16px;
    margin-right: calc((100vw - 328px) / -2);
    margin-left: -16px;
    margin-left: calc((100vw - 328px) / -2);
  }
}
@media screen and (max-width: 479px) and (min-width: 414px) {
  .footer {
    margin-right: -15px;
    margin-right: calc((100vw - 384px) / -2);
    margin-left: -15px;
    margin-left: calc((100vw - 384px) / -2);
  }
}
@media screen and (min-width: 480px) {
  .footer {
    margin-right: -18px;
    margin-right: calc((100vw - 444px) / -2);
    margin-left: -18px;
    margin-left: calc((100vw - 444px) / -2);
  }
}
