.page {
  background-color: #fff6f1;
  font-family: Georgia, serif;
}

.i {
  font-family: HelveticaNeue,arial,sans-serif;
}

.header_wide-logo .image {
  background-position-x: center;
  background-image: url('images/logo.svg') !important;
}

.header.header_size_s {
  padding: 14px 0 8px;
}

.header.header_size_s .image {
  margin: 0 auto;
  height: 32px;
}

.header__title-link {
  text-align: center;
}

.title,
.cover .title {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 27px;
  font-weight: 400;
}

.cover .description.description {
  color: #857871;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 15px;
  margin-top: 20px;
}

.cover .image_cover {
  margin-top: 20px;
}

.cover {
  margin-bottom: 20px
}

.paragraph.paragraph {
  font-size: 17px;
  line-height: 22px;
  color: #423e3d;
  margin-bottom: 15px;
}

.related {
  margin-top: 52px;
}

.related.autoload {
    margin: 0;
}

.related__title {
  font-size: 24px;
  line-height: 34px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #2e6f6f;
  font-weight: 400;
}

.link, .footer .link {
  color: #2e6f6f
}

.snippet__title-link {
  font-size: 19px;
  color: #332f2e;
}

.snippet__footer .meta__item {
  color: #857871;
}

.source .button {
  background-color: transparent;
  border: 1px solid #e3d1c7;
}

.footer .paragraph {
    margin: 0;
    font-size: 16px;
    line-height: 18px;
}
