.cover__title {
    font-weight: bold;
}

.page__cover + .page__markup {
    margin-top: 10px;
}

.page__unit + .page__footer {
    margin-top: 20px;
}

.page__source {
    display: none;
}

.footer {
    background: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.1)
}

.footer__about {
    padding-top: 16px;
    padding-bottom: 16px;
}

.footer_theme_dark .footer__link.link {
    color: #777;
}

.footer_view_default {
    padding-bottom: 0;
}
